@model vezba1.viewModel.AvtorKnigaEditViewModel

@{
    ViewData["Title"] = "Edit kniga";
}

<body style="
      background-image: url('https://cdn.wallpapersafari.com/44/77/TQkLbJ.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;">
    <div class="row text">
        <div class="col-md-8 offset-2">
            <h1 style="text-align: center;">Update Book</h1>
            <div class="row">
                <div class="col-md-8 offset-2">
                    <form method="post" enctype="multipart/form-data" asp-controller="Knigi" asp-action="Edit">
                        <input type="hidden" asp-for="Kniga.Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

                        <div class="form-group">
                            <label asp-for="Kniga.SlikaUrl" class="control-label"></label>
                            <input type="file" name="frontPageImage" class="form-control" />
                            <span asp-validation-for="Kniga.SlikaUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Kniga.Naslov" class="control-label"></label>
                            <input asp-for="Kniga.Naslov" class="form-control" />
                            <span asp-validation-for="Kniga.Naslov" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Kniga.Godina" class="control-label"></label>
                            <input asp-for="Kniga.Godina" class="form-control" />
                            <span asp-validation-for="Kniga.Godina" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Kniga.BrStrani" class="control-label"></label>
                            <input asp-for="Kniga.BrStrani" class="form-control" />
                            <span asp-validation-for="Kniga.BrStrani" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Kniga.Opis" class="control-label"></label>
                            <input asp-for="Kniga.Opis" class="form-control" />
                            <span asp-validation-for="Kniga.Opis" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Kniga.Izdavac" class="control-label"></label>
                            <input asp-for="Kniga.Izdavac" class="form-control" />
                            <span asp-validation-for="Kniga.Izdavac" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Kniga.Tirazh" class="control-label"></label>
                            <input asp-for="Kniga.Tirazh" class="form-control" />
                            <span asp-validation-for="Kniga.Tirazh" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Avtori</label>
                            <select asp-for="SelectedAvtors" class="form-control js-example-basic-multiple"
                                    asp-items="Model.AvtorList" multiple="multiple"></select>
                            <span asp-validation-for="SelectedAvtors" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Kniga.Zanr" class="control-label"></label>
                            <input asp-for="Kniga.Zanr" class="form-control" />
                            <span asp-validation-for="Kniga.Zanr" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Edit" class="btn btn-outline-success float-end" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".js-example-basic-multiple").select2();
        });
    </script>
}
